.item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    max-width: fit-content;
    min-width: 300px;    
    margin-left: auto;
    margin-bottom: 5px;
    label{
        padding: 0 10px;
    }
    .edit-input{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 130px;
    }
}
.done-tasks{
    text-decoration: line-through;
}