.fakeshop-content{
    display: flex;
    flex-wrap: wrap;
    .fakeshop-content--products{
        width: 80%;
        ul{
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            list-style-type:none;
            li{
                text-decoration: none;
                width: 25%;
                margin-bottom: 10px;
            }
        }
    }
    .fakeshop-content--cart{
        width: 20%;
    }
}
