.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #adadad;
    border-radius: 2px;
    max-width: fit-content;
    min-width: 300px;
    margin-bottom: 5px;
    label{
        padding: 0 10px;
    }
    button{
        background-color: #878383;
        color: #fff;
        padding: 5px 10px;
    }

    button.btn-warn{
        background-color: #c91b1b;
    }
}